{% extends "base.html" %}
{% block head %}
{{ super() }}
<meta name="twitter:creator" content="{{ TWITTER_USERNAME }}">
<meta name="twitter:url" content="{{ SITEURL }}">
<meta name="twitter:title" content="{{ SITENAME }}">
<meta name="twitter:description" content="{{ SIDEBAR_DIGEST }}">

<!-- Facebook Meta Data -->
<meta property="og:title" content="{{ SITENAME }}" />
<meta property="og:description" content="{{ SIDEBAR_DIGEST }}" />
<meta property="og:image" content="" />
{% endblock head %}
{% block content_title %}{% endblock %}
{% block content %}

<h1 id="main-title"></h1>

<img class="banner" src="/images/bannerlow.png" alt="our logo" />

<br>

<p>
The University of Edinburgh Embedded and Robotics Society (EaRS) is a society aimed at helping students get into the fields of embedded development and robotics and bringing together a community interested in these fields. We put on workshops, talks and hackathons that are all free to attend.
<br /><br />
You can see our upcoming events below, and for anything else have a look at our links.
</p>

<br>

<ol>
	<h2 class="latest">Events</h2>
    {% if articles %}
	{% for article in (articles_page.object_list if articles_page else articles) %}
	<li class="post_list"><p class="post_entry">
		<h2 class="post_title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
                {% if DISPLAY_SUMMARY and article.summary|length > 0 %}
                        <p>{{ article.summary }}</p>
                {% endif %}
		<span class="post_category"><a href="{{ SITEURL }}/{{ article.category.url }}" rel="bookmark" title="Permalink to {{ article.category|striptags }}">[ {{ article.category }} ]</a></span>
		<span class="post_date">{{ article.locale_date }}</span>
	</li>
	{% endfor %}
    {% else %}
    <h3>No events scheduled. Got an idea? <a href="/contact">Contact us</a></h3>
    {% endif %}
</ol>

{% if articles_page and articles_paginator.num_pages > 1 %}
{% include 'pagination.html' %}
{% endif %}

{% endblock content %}
